<!DOCKYPE html>
<html lang="en">
<head>
	<%-include('./inc/head')%>
</head>
<body>
	<%-include('./inc/nav')%>
	<section>
	<% const titleX = block.title
	console.log(block) %>
		<h1><%=block.title%></h1>
		<p><%=block.long%></p>
	</section>
</body>
</html>
